<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrickSite</title>
</head>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<body>
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />{% endblock %}
 <link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'teams/style.css' %}"/>
<link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body class="black-skin">
<style>

body {
    padding-left: 15px;
}
</style>
<style>

body {
    padding-right: 20px;
}
</style>

<nav class="navbar navbar-inverse">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="topNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
        <!.. Logo ....!>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CrickSite</a>
        </div>
        <!..Items...!>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/teams"> Teams</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/teams/series">Series</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/teams/search/">Search</a>
                </li>
            </ul>
             <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/teams/add/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Team
                    </a>

                </li>
             <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/teams/series/add/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Series
                    </a>

                </li>
             <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/teams/series/add_match/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Match
                    </a>

                </li>
                 <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/teams/add_player/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Player
                    </a>


            </ul>

        </div>

    </div>
</nav>
<style>
    body{
     background-image: url('{% static "img/bg1.jpg" %}')
    }
</style>
<style>
  body {padding-top: 50px;}
</style>
{% block body %}
{% endblock %}
<style>
  body {padding-bottom: 50px;}
</style>
</body>
</html>