<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Details</title>
{% extends 'teams/base.html' %}

<body>
{% block body%}

<h1> Team Details</h1>
<div class="list-group">
    <a href="" class="list-group-item">
         <h2 class="list-group-item-heading">{{team.TeamName}}</h2>
        <h3 class="list-group-item">Team Rank: {{team.TeamRank}}</h3>
        <a href="/teams/{{ team.pk }}/players" class="list-group-item">click to view team players</a>
        <a href="/teams/{{team.pk}}/update/" class="list-group-item">Click To Update</a>
       <a href="/teams/{{team.pk}}/delete/" class="list-group-item">Click To Delete</a>


</a>
</div>

{% endblock %}

</body>
</html>