<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
{% extends 'teams/base.html'%}
{% block body%}
<body>
<h2>Upcoming Matches</h2>
{% for m in pendingmatches%}
<div class="list-group">
    <a href="matches/{{m.pk}}/teams/" class="list-group-item">
         <h4 class="list-group-item-heading">{{m.MatchDate}}</h4>
        <p class="list-group-item-text">Click To see Teams Playing </p>
    </a>
</div>
{% endfor %}
<br>
<h2>Done Matches</h2>
{% for m in donematches%}
<div class="list-group">
    <a href="matches/{{m.pk}}/teams/" class="list-group-item">
         <h4 class="list-group-item-heading">m.MatchDate</h4>
        <p class="list-group-item-text">Click To see Teams Playing </p>
    </a>
</div>
{% endfor %}
</body>
{% endblock %}
</html>