<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players </title>
</head>
{% extends 'teams/base.html' %}
<body>
{% block body%}


<h1>Players in the chosen Team</h1>

<table style="width:100%" class=" table-hover">

  <tr>

    <th colspan="20" style="text-align:center">Player Name</th>
    <th colspan="20" style="text-align:center">Player Age</th>
    <th colspan="20" style="text-align:center">Player Type</th>
    <th colspan="20" style="text-align:center">Update</th>
    <th colspan="20" style="text-align:center">Delete</th>
  </tr>

  {% for p in pl %}
  <tr>

    <td colspan="20"  style="text-align:center">{{p.PName}}</td>
    <td colspan="20" style="text-align:center">{{p.PAge}}</td>
    <td colspan="20" style="text-align:center">{{p.PType}}</td>
    <td colspan="20" style="text-align:center">
    <a href="{% url 'teams:Player-Update' p.pk %}">Update Details</a>
    </td>
    <td colspan="20" style="text-align:center">
    <a href="{% url 'teams:Player-Delete' p.pk %}">Delete Player</a>
    </td>

  </tr>
  {% endfor %}

{% endblock %}
</body>
</html>