<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Series Details</title>
{% extends 'teams/base.html' %}

<body>
{% block body%}

<h1> Series Details</h1>
<div class="list-group">
    <a href="" class="list-group-item">
         <h2 class="list-group-item-heading">{{ser.SeriesName}}</h2>

        <h2 class="list-group-item-heading">Participating Teams</h2>
        <ul>
        {% for p in ts %}
        <li><a href="/teams/{{p.pk}}">p.TeamName</a></li>
        {% endfor %}
        </ul>
        <a href="/teams/series/{{ser.pk}}/matches/" class="list-group-item">Click to view Series Fixtures</a>
        <a href="/teams/series/{{ser.pk}}/update/" class="list-group-item">Click To Update</a>
       <a href="/teams/series/{{ser.pk}}/delete/" class="list-group-item">Click To Delete</a>
        <a href="/teams/series/{{ser.pk}}/matches/" class ="list-group-item">Click To view Fixtures</a>


</a>
</div>



{% endblock %}

</body>
</html>