<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Series Details</title>
{% extends 'teams/base.html' %}

<body>
{% block body%}

<h1> Series Details</h1>
<div class="list-group">
    <a href="" class="list-group-item">
         <h2 class="list-group-item-heading list-group-item-dark">{{ser.SeriesName}}</h2>

        <h3 class="list-group-item-heading list-group-item-dark">Participating Teams

        {% for p in ts %}

                 <a href="/teams/{{p.pk}}" class="list-group-item">{{p.TeamName}}</a>


        {% endfor %}
            </h3>

        <a href="/teams/series/{{ser.pk}}/matches/" class="list-group-item list-group-item-dark">Click to view Series Fixtures</a>
        <a href="/teams/series/{{ser.pk}}/update/" class="list-group-item list-group-item-dark">Click To Update</a>
       <a href="/teams/series/{{ser.pk}}/delete/" class="list-group-item list-group-item-dark">Click To Delete</a>



</a>
</div>



{% endblock %}

</body>
</html>